@import '../vars';

.header {
  width: 100%;
  background-color: $bg-black;
  position: fixed;
  z-index: 99;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  &__logo {
    color: $white;
  }

  &__inner{
    @extend %flex-sw;
    height: 100%;
  }

  &__links-wrapper{
    @extend %flex-sw;
    height: 100%;
    transition: $transition;
  }

  &__links{
    @extend %flex-sw;
    gap: 3.2rem;
    height: 100%;
  }

  &__link{
    &_active{
      @extend %link-active
    }
  }

  &__btn-modal{
    margin-left: 5rem;
    margin-right: 1rem;
  }

}

.links__item{
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 3px solid transparent;
  transition: $transition;
  opacity: $text-white-opacity;
  &:hover{
    opacity: 1;
  }
}

.link{
  &:hover{
    opacity: 1;
  }
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  display: none;
}

.hamburger__line {
  display: block;
  width: 30px;
  height: 2px;
  background: white;
}





