<section class="careers" id="careers">
    <div class="container">
        <div class="careers__inner">
                <h2 class="careers__title title-h2">
                    We hired people who are
                    Always Passionate about what they do
                </h2>
                <p class="careers__paragraph paragraph">
                    Through True Rich Attended does no end it his mother since real had half every him case in packages
                    enquire we up ecstatic unsatiable saw .
                </p>
                <img class="careers__shapes" src="../assets/images/icons/shapes.svg" alt="shapes">
            <img class="careers__img"
                 src="../assets/images/foto/careers.png" alt="careers foto">
        </div>
    </div>
</section>