<section class="details" id="details">
    <div class="container">
        <div class="details__inner inner">
            <div class="details__header">
                <div class="details__tabs">
                    <h4 class="details__tab details__tab-active">Details</h4>
                    <h4 class="details__tab">Requirements</h4>
                    <h4 class="details__tab">Responsibilities</h4>
                </div>
            </div>
            <div class="details__list-wrapper">
                <ul class="details__list-items">
                </ul>
            </div>
        </div>
    </div>
</section>