<footer class="footer">
    <div class="container">
        <div class="footer__inner inner">
            <a href="" class="footer__logo logo">
                LOGO
            </a>
            <span class="footer__copyright">
                ©2023 Finsweet
            </span>
            <div class="footer__socials">
                <a href=""><img src="../assets/images/icons/Facebook.svg" alt=""></a>
                <a href=""><img src="../assets/images/icons/Twitter.svg" alt=""></a>
                <a href=""><img src="../assets/images/icons/Instagram.svg" alt=""></a>
                <a href=""><img src="../assets/images/icons/lin.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>
