<header class="header">
    <div class="container">
        <div class="header__inner inner">
            <span class="header__logo logo">
                <a href="">LOGO</a>
            </span>
            <nav class="header__links-wrapper hide_mobile_menu">
                <ul class="header__links links">
                    <li class="links__item header__link_active" >
                        <a class="link" href="#home">Home</a>
                    </li>
                    <li class="links__item">
                        <a class="link" href="#careers">Careers</a>
                    </li>
                    <li class="links__item">
                        <a class="link" href="#details">FAQ</a>
                    </li>
                    <li class="links__item">
                        <a class="link" href="#customers">Customers</a>
                    </li>
                </ul>
                <button class="header__btn-modal btn-modal">
                    Open Modal
                    <img    class="btn__arrow btn-modal__arrow" src="assets/images/icons/arrow-right.svg" width="20px" alt="arrow">
                </button>
            </nav>
        </div>
        <div class="hamburger">
            <span class="hamburger__line hamburger__line-top"></span>
            <span class="hamburger__line hamburger__line-center"></span>
            <span class="hamburger__line hamburger__line-bottom"></span>
        </div>
    </div>
</header>
