<section class="home" id="home">
    <div class="container">
        <div class="home__inner inner">
            <div class="home__description">
                <h1 class="home__title title-h1">
                    Transform Your Idea Into Reality with Finsweet
                </h1>
                <p class="home__paragraph paragraph">
                    The entire Finsweet team knows what's good with Webflow and you can too with 1 week and a good attitude.
                </p>
                <button class="home__btn btn">
                    Request Quote
                    <img   class="btn__arrow" src="assets/images/icons/arrow-right.svg" width="20px" alt="arrow">
                    <img   class="btn__shapes" src="assets/images/icons/shapes.svg" width="20px" alt="shapes">
                </button>
            </div>
            <div class="home__img-wrapper">
                <img class="home__img-first" src="../assets/images/icons/tricolor_column.svg" alt="tricolor line">
                <img class="home__img-second" src="../assets/images/foto/home__foto.jpg" alt="foto">
                <img class="home__img-third" src="../assets/images/icons/tricolor_column.svg" alt="tricolor line">
            </div>
        </div>
    </div>
</section>