<section class="popup popup-hide">
    <div class="popup__inner">
        <div class="popup__close">
            <img src="../assets/images/icons/close.svg" alt="close" class="popup__close-cross">
        </div>
        <h2 class="popup__title">
            Have a Question ?<br>
            Let’s Get in Touch with us 👋
        </h2>
        <p class="popup__subtitle">
            Fill up the form and the team will get back to within 24 hrs
        </p>

        <form class="popup__form" name="popup">
            <label class="input__label" for="name">Name</label>
            <input class="form__input" type="text" id="name" placeholder="Type your Name">
            <label class="input__label" for="email">E-mail *</label>
            <input class="form__input" type="email" id="email" placeholder="Type your Email">
            <label class="input__label mask" for="tel" >Phone *</label>
            <input class="form__input" type="tel" name="phone" data-phone-pattern id="tel" placeholder="+7 (___) ___-__-__">
            <label class="input__label" for="text">Message</label>
            <input class="form__input" type="text" id="text" placeholder="Type your Messege">
            <button type="submit" class="form__btn btn">
                Send Message
                <img class="btn__arrow" src="assets/images/icons/arrow-right.svg" width="20px" alt="arrow">
                <img class="btn__shapes" src="assets/images/icons/shapes.svg" width="20px" alt="shapes">
            </button>
        </form>
    </div>
</section>