<section class="testimonials" id="customers">
    <div class="container">
        <div class="testimonials__inner">
            <div class="testimonial">
                <img
                        class="testimonial__tricolor-left"
                        src="../assets/images/icons/tricolor_column.svg" alt="">
                <div class="testimonial__text">
                    <img class="testimonial__quotes" src="../assets/images/icons/Quote.svg" alt="quotes">
                    <div class="carousel">
                        <div class=" carousel__inner">
                            <h4 class="carousel__header">
                                Finsweet has been a wonderful partner to work with. I have been a customer now for the
                                past few months now and I have had nothing but positive experiences!
                            </h4>
                            <div class="carousel__person">
                                <img src="../assets/images/foto/person.jpg" alt="foto person"
                                     class="carousel__person-img">
                                <div class="person__descr">
                                    <h6 class="person__name">
                                        Johnny Andro
                                    </h6>
                                    <p class="person__position">
                                        Director, Company
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" carousel__inner">
                            <h4 class="carousel__header">
                                2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.  I have been a customer now for the
                                past few months now and I have had nothing but positive experiences!
                            </h4>
                            <div class="carousel__person">
                                <img src="../assets/images/foto/person.jpg" alt="foto person"
                                     class="carousel__person-img">
                                <div class="person__descr">
                                    <h6 class="person__name">
                                        Anton Smith
                                    </h6>
                                    <p class="person__position">
                                        Director, IT
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" carousel__inner">
                            <h4 class="carousel__header">
                                3 Nulla pulvinar sapien eget ex mollis interdum. Sed sed congue metus. I have been a customer now for the
                                past few months now and I have had nothing but positive experiences!
                            </h4>
                            <div class="carousel__person">
                                <img src="../assets/images/foto/person.jpg" alt="foto person"
                                     class="carousel__person-img">
                                <div class="person__descr">
                                    <h6 class="person__name">
                                        Johnny Mnemonic
                                    </h6>
                                    <p class="person__position">
                                        Сourier, Freelancer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>